* {
  box-sizing:border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
  color: red;
  font-size: 1.5em;
}

.notification {
  color: red;
}

.container {
  margin: 0 auto;
  background-color: rgb(236, 236, 236);
  width: 80%

}

.inputForm {
  /* height: 400px; */
  /* background-color: antiquewhite; */
}